{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
	<article>
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
		            <div>
		                <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
		                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
		                    <div class="well well-sm">
		                        {% include "includes/article_info.html" %}
		                    </div>
		                {% endif %}
		                <div class="summary">{{ article.summary }}</div>
		            </div>
		            <hr/>
        {% endfor %}
               </div>
    {% endif %}
	</article>
    {% include 'includes/pagination.html' %}
{% endblock content %}
